.nav-background{
    background-color:rgb(49, 99, 128);
    overflow-x: hidden;
}
.nav-links{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    display: block;
    padding:5px;
   
}
.nav-links:hover{
    color: white;
}
.company-name{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px; 
    text-decoration: none;
    font-weight: bolder;
}

