.contact{
    margin-bottom: 40px;
}
.contact-text{
    font-size: 60px;
    font-weight: 700;
    padding-top: 70px ;
}
.contact-title{
    font-size: 60px;
    width: 80%;
    font-weight: bolder;
}
.contact-info-item{
    display:flex ;
    align-items: center;
    margin: 50px 0px;
    font-weight: 500;
    font-size: 25px;
    width: 70%;
}
.contact-icon{
    width: 30px;
    height: 40px;
    margin-right: 20px;
}
.contact-description{
    font-size: 35px;
}
form{
    margin-top: 20px;
}
input{
    width: 75%;
    height: 50px;
    border: none;
    background-color: #fefeee;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 19px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 19px;
    padding-left: 10px;
}
@media screen and (max-width:480px) {
     .share{
        text-align: center;
    }
}